*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/
/.cache/
/compile_commands.json
/doc/examples/avio_read_callback
/doc/examples/decode_filter_audio
/doc/examples/decode_filter_video
/doc/examples/demux_decode
/doc/examples/mux
/doc/examples/remux
/doc/examples/resample_audio
/doc/examples/scale_video
/doc/examples/show_metadata
/doc/examples/transcode

